@import "tailwindcss";

@theme {
  --color-purple-400: #d695ff;
  --color-purple-500: #C679FF;
  --color-purple-600: #b05ce5;
  
  --color-orange-400: #ff9d6e;
  --color-orange-500: #FF7B3E;
  --color-orange-600: #e56024;
}
